# build output
web/dist/
# generated types
web/.astro/

# dependencies
web/node_modules/

# logs
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*


# environment variables
web/.env
web/.env.production

# macOS-specific files
web/.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/node_modules/
server/.pnp
server/.pnp.js

# testing
server/coverage

# next.js
server/.next/
server/out/

# production
server/build

# misc
server/.DS_Store
server/*.pem
server/dataset/*.json

# debug
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# local env files
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

# vercel
server/.vercel

server/**/*.trace
server/**/*.zip
server/**/*.tar.gz
server/**/*.tgz
server/**/*.log
server/package-lock.json
server/**/*.bun
server/data/**/*.json